.jp-Favorites-pinner {
  position: absolute;
  right: 0;
  overflow: visible;

  /* aimed to match the upstream breadcrumbs */
  margin: 8px 12px;
}

.jp-Favorites-pinner > .jp-ToolbarButtonComponent {
  height: 24px;
  margin-top: -5px;
}

.jp-Favorites-InputPromptNumber {
  left: 12px !important;
  width: 51px !important;
  top: 0 !important;
  height: 23px !important;
}

.jp-Favorites-crumbs {
  margin-right: 40px;
}

.jp-Favorites-BreadCrumbs-Icon,
.jp-Favorites-BreadCrumbs-Icon > svg {
  height: 16px;
  width: 16px;
}

.jp-Favorites-header,
.jp-FileBrowser-header {
  padding: 8px 0 8px 12px;
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
  letter-spacing: 1px;
}

.jp-Favorites-container {
  overflow: auto;
  max-height: 120px;
}

.jp-Favorites-resize-handle {
  height: 4px;
  background: transparent;
  cursor: ns-resize;
  user-select: none;
}

.jp-Favorites-resize-handle:hover {
  background: var(--jp-border-color1);
}

.jp-Favorites {
  flex: 0 0 auto;
  overflow: visible;
}

.jp-Favorites-item {
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  cursor: pointer;
}

.jp-Favorites-item:hover {
  background-color: var(--jp-layout-color2);
}

.jp-Favorites-itemIcon > svg {
  display: block;
  height: 16px;
  margin: 0 5px;
  width: 16px;
}

.jp-Favorites-itemText {
  flex: 1 1 64px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jp-Favorites-dirname {
  color: var(--jp-ui-font-color2);
  font-size: var(--jp-ui-font-size0);
  margin: 0 4px;
}

.jp-Notebook.jp-favorites-filter-active .jp-Cell:not(.jp-favorite-cell) {
  display: none !important;
}

.jp-Favorites-base-star-class {
  top: -2px !important;
  left: -6px !important;
  height: 23px !important;
  width: 24px !important;
}

.jp-Cell.jp-favorite-cell .jp-Favorites-star-class {
  display: block !important;
}

.jp-Cell.jp-favorite-cell .jp-Favorites-star-class-off {
  display: none !important;
}

.jp-Notebook.jp-Favorites-show-all-stars
  .jp-Cell:not(.jp-favorite-cell)
  .jp-Favorites-star-class-off {
  display: block !important;
}

.jp-Notebook:not(.jp-Favorites-show-all-stars)
  .jp-Cell:not(.jp-favorite-cell)
  .jp-Favorites-star-class-off {
  display: none !important;
}

.jp-Cell:not(.jp-favorite-cell) .jp-Favorites-star-class {
  display: none !important;
}

.jp-Notebook .jp-Cell.jp-mod-dirty .jp-InputPrompt::before {
  content: none !important;
}

.jp-Notebook.jp-Favorites-never-show-stars .jp-Favorites-base-star-class {
  display: none !important;
}

@media only screen and (width <= 760px) {
  .jp-InputPrompt {
    flex: 0 0 var(--jp-cell-prompt-width) !important;
    margin-bottom: -30px !important;
    text-align: left;
  }
}
