:root {
  /* All of the avaialble icons */
  --jp-icon-favorite-filled-light: url('icons/md/light/baseline-star-24px.svg');
  --jp-icon-favorite-unfilled-light: url('icons/md/light/baseline-star_border-24px.svg');
  --jp-icon-favorite-filled-dark: url('icons/md/dark/baseline-star-24px.svg');
  --jp-icon-favorite-unfilled-dark: url('icons/md/dark/baseline-star_border-24px.svg');
  /* The icons chosen, based on current theme */
  --jp-icon-favorite-filled: var(--jp-icon-favorite-filled-light);
  --jp-icon-favorite-unfilled: var(--jp-icon-favorite-unfilled-light);
}

.jp-FavoritesIcon-filled,
.jp-FavoritesIcon-unfilled {
  min-width: 16px;
  min-height: 16px;
  background-size: 16px;
  vertical-align: sub;
}

.jp-Favorites-pinner {
  position: absolute;
  right: 6px;
  bottom: -21px;
  cursor: pointer;
}

/* Increase the right margin from 12px to allow room for pinner */
.jp-BreadCrumbs.jp-FileBrowser-crumbs {
  margin: 4px 26px 4px 12px;
}

.jp-FavoritesIcon-filled {
  background-image: var(--jp-icon-favorite-filled);
}

.jp-FavoritesIcon-unfilled {
  background-image: var(--jp-icon-favorite-unfilled);
}

.jp-Favorites-header,
.jp-FileBrowser-header {
  padding: 8px 0 8px 12px;
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
  letter-spacing: 1px;
}

.jp-Favorites-container {
  overflow: auto;
  max-height: 120px;
}

.jp-Favorites {
  flex: 0 0 auto;
  overflow: visible;
}

.jp-Favorites-item {
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  cursor: pointer;
}

.jp-Favorites-item:hover {
  background-color: var(--jp-layout-color2);
}

.jp-Favorites-itemIcon {
  flex: 0 0 20px;
  margin-right: 4px;
}

.jp-Favorites-itemText {
  flex: 1 0 64px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}